.badge {
  padding: 3px 12px;
  font-size: 12px;
  color: var(--second-body-color);
}

.badge-info {
  background-color: $info-color;
}

.badge-primary {
  background-color: $primary-color;
}

.badge-danger {
  background-color: $danger-color;
}

.badge-success {
  background-color: $success-color;
}
