@use "@angular/material" as mat;
@import "./../../app-color-palette.scss";

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  $primary-palette: map-get($color-config, "primary");
  $accent-palette: map-get($color-config, "accent");
  $is-dark-theme: map-get($theme, is-dark);
  $box-shadow: if($is-dark-theme, 5px 5px 10px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1));

  $bg-link: if($is-dark-theme, mat.get-color-from-palette($accent-palette, 200, 0.5), mat.get-color-from-palette($primary-palette, 200, 0.3));

  .head {
    background-color: if($is-dark-theme, $dark-bg-color, $light-bg-color);
    box-shadow: $box-shadow;
  }

  .overlay {
    box-shadow: $box-shadow;
  }
}
  

@mixin typography($typography-config) {
  .sidenav {
    font-family: mat.font-family($typography-config);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($typography-config);
  }
}