<div>
  <mat-form-field style="display: flex;" class="example">
    <mat-label>Seleccionar una fecha</mat-label>
    <input
      #inputDate
      matInput
      readonly
      type="text"
      [matDatetimepicker]="picker"
      [attr.disabled]="isDisabled ? true : null"
      [value]="inputValue"
      [min]="min"
      [max]="max"
      (dateChange)="onChanged($event)"
      autocomplete="false"
    >
      <mat-datetimepicker type="datetime"  mode="portrait" autocomplete="false" #picker />
      <mat-datetimepicker-toggle matIconSuffix [for]="picker" />
  </mat-form-field>
</div>
