<div style="margin-top: 150px">
  <button mat-raised-button color="primary" (click)="HandleClick()">PRIMARY</button>
  <button mat-raised-button color="secondary" (click)="incrementNumber()">INCREMENT</button>
  <button mat-raised-button color="accent" (click)="changeTitle('accent')">ACCENT</button>
  <button mat-raised-button color="warn" (click)="changeTitle('warn')">WARN</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>

<br>
<p>CONTEO: {{ value }}</p>
<p>TITULO: {{ title }}</p>

<br>
<br>

<div>
  <mat-form-field appearance="outline">
    <mat-label>Usuario</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Ingrese su usuario</mat-hint>
  </mat-form-field>
</div>

<br>
<br>

<app-prueba />

