<div style="margin-top: 150px">
  <button mat-raised-button color="primary" (click)="HandleClick()">PRIMARY</button>
  <button mat-raised-button color="secondary" (click)="incrementNumber()">INCREMENT</button>
  <button mat-raised-button color="accent" (click)="changeTitle('accent')">ACCENT</button>
  <button mat-raised-button color="warn" (click)="changeTitle('warn')">WARN</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>

<br>
<p>CONTEO: {{ value }}</p>
<p>TITULO: {{ title }}</p>

<br>
<br>
<app-prueba />

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

