@use "@angular/material" as mat;

@import "../_variables.scss";
@import '@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

@include mat.core();

$typography: mat.define-typography-config(
  $font-family: $bodyfont,
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($light-theme-primary-palette),
      accent: mat.define-palette($light-theme-accent-palette),
      warn: mat.define-palette($light-theme-warn-palette),
      // warn: A. Material ya define por defecto la paleta para warn
    ),
    typography: $typography,
    density: 0,
    background-color: "red"
  )
);

//TODO: De momento el Dark theme de Material será el mismo que el Light
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette($light-theme-primary-palette),
      accent: mat.define-palette($light-theme-accent-palette),
      warn: mat.define-palette($light-theme-warn-palette),
      // warn: A. Material ya define por defecto la paleta para warn
    ),
    typography: $typography,
    density: 0,
    background-color: "blue"
  )
);

@include mat.all-component-themes($light-theme);
@include mat-datetimepicker-theme($light-theme);
// @include mat.all-component-themes($dark-theme);
// @include mat-datetimepicker-theme($dark-theme);

$my-custom-level: mat.define-typography-level(
  $font-weight: 400,
  $font-size: 1rem,
);

.app[data-theme="dark"] {
  @include mat.all-component-colors($dark-theme);
  @include mat-datetimepicker-theme($dark-theme);
}
