@use "@angular/material" as mat;
@use '@fireflysemantics/sass-logger' as logger;
@import './../../app-color-palette.scss';
@import '../../../variables';

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  //depurar SASS
  $result: logger.pretty-map($color-config);
  // @debug $result;
  
  $text-color: map-get($theme, text-color);  
  $primary-palette: map-get($color-config, "primary");
  $accent-palette: map-get($color-config, "accent");
  $is-dark-theme: map-get($theme, is-dark);
  $box-shadow: if($is-dark-theme, 5px 5px 10px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1));
  $bg-link: if($is-dark-theme, mat.get-color-from-palette($accent-palette, 200, 0.5), mat.get-color-from-palette($primary-palette, 200, 0.3));

  .sidenav {
    box-shadow: $box-shadow;

    .btn-close {
      color: if($is-dark-theme, $primary-color, $text-color);
    }

    .logo-container {
      .btn-close {
        .fa-times {
          color: $text-color;
        }
      }
    }

    .sidenav-nav {
      .sidenav-nav-link:hover {
        background-color: $bg-link;
        color: $primary-color;

        .menu-collapse-icon {
          color: $primary-color;
        }      
      }
    }
  }

  .sublevel-nav {
    .sublevel-nav-link:hover {
      color: $primary-color;
    }
  }

  .active-sublevel {
    .sublevel-link-icon,
    .sublevel-link-text {
      color: $primary-color;
    }
  }

  .active {
    background-color: $bg-link;

    .menu-collapse-icon,
    .sidenav-link-icon {
      color: mat.get-color-from-palette($primary-palette, 500);
    }
  }

  .sidenav-collapsed {
    background-color: if($is-dark-theme, $dark-bg-color, $light-bg-color);
  }
  
  
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}