// @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@
// Colors
// @=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@

$primary-color: #105ef5;

// Light Colors
$success-color: #00c292;
$info-color: #03c9d7;
$warning-color: #fec90f;
$danger-color: #e46a76;
$indigo-color: #551a8b;

// Dark Colors
$dark-danger-color: #5d363a;
$dark-warning-color: #655419;
$dark-info-color: #425a61;
$dark-success-color: #145242;

$muted-color: #949db2;
$white-color: #ffffff;
$black-color: #000;

//----------------------------------------//

$base-font-size: 1rem;
$base-line-height: 1.25 * $base-font-size;

$text-sizes: (
  "xs": (
    font-size: 0.75rem,
    // 12px
    line-height: $base-line-height,
  ),
  "sm": (
    font-size: 0.875rem,
    // 14px
    line-height: $base-line-height,
  ),
  "base": (
    font-size: 1rem,
    // 16px
    line-height: $base-line-height,
  ),
  "md": (
    font-size: 1.125rem,
    // 18px
    line-height: $base-line-height * 2,
  ),
  "lg": (
    font-size: 1.25rem,
    // 20px
    line-height: $base-line-height * 2,
  ),
  "xl": (
    font-size: 1.5rem,
    // 24px
    line-height: $base-line-height * 2,
  ),
);